*{
    margin: 0;
    padding: 0;
}

.fon1{
    position: absolute;
    left: 230px;
}

.code{
    position: absolute;
    left: 918px;
    top: 123px;

}

.logo1{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 10px;
    top: 15px;
}

.active1{
    position: absolute;
    left: 180px;
    top: 19px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 104.4%;
    /* identical to box height, or 14px */
    text-align: center;
    color: #22253B; 
}
.active2{
    position: absolute;
    left: 330px;
    top: 19px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 104.4%;
    /* identical to box height, or 14px */
    text-align: center;

    color: #22253B;
}

.active3{
    position: absolute;
    left: 480px;
    top: 19px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 104.4%;
    /* identical to box height, or 14px */
    text-align: center;

    color: #22253B;

}

.active4{
    position: absolute;
    left: 590px;
    top: 19px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 104.4%;
    /* identical to box height, or 14px */
    text-align: center;

    color: #22253B;
}

.active5{
    position: absolute;
    left: 1030px;
    top: 19px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 104.4%;
    /* identical to box height, or 14px */

    color: #3C3E50;
}

.btn{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 1130px;
    top: 11px;

    background: #38BFF2;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 100;
    cursor: pointer;
}

.layer1 span{
    margin-left: 1px;
    margin-top: 2px;
    font-size: 12px;
}


.text1 h2{
    position: absolute;
    width: 638px;
    height: 185px;
    left: 120px;
    top: 133px;

    font-family: 'Mixed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    text-align: left;

    /* or 100% */

    color: #22253B;
}

.text1 b{
    font-family: Arial, sans-serif;
    color: red;
}

.text1 i{
    font-family: "Diwan Thuluth", sans-serif;
}

.line1{

    position: absolute;
    width: 380px;
    height: 0;
    left: 120px;
    top: 360px;

    border: 0.7px solid #DEDEDE;
}

.text2{
    position: absolute;
    width: 360px;
    height: 46px;
    left: 120px;
    top: 380px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 380;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */

    color: #22253B;

}

.arrow1button{
    position: absolute;
    width: 330px;
    height: 75px;
    left: 120px;
    top: 440px;

    background: #F15525;
    border-radius: 82px;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    color: white;
    font-weight: 350;
    font-size: 20px;
    cursor: pointer;

}
.arrow1img{
    padding-right: 30px;
}